.elements {
  max-width: 880px;
  padding-top: 36px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
}

.elements__container {
  background-color: #fff;
  border-radius: 10px;
  width: 282px;
  height: 361px;
  overflow: hidden;
  position: relative;
}

.elements__image {
  width: 282px;
  height: 282px;
}

.elements__trash {
  background: url(../../images/Trashelement.svg) no-repeat center;
  background-size: contain;
  border: none;
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}

.elements__trash:hover {
  opacity: 0.6;
}

.elements__description {
  display: flex;
  justify-content: space-around;
}

.elements__text {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__heart {
  background: url(../../images/elementsheart.svg) no-repeat center;
  background-size: contain;
  margin-right: 15px;
  width: 20.759px;
  cursor: pointer;
  border: #000;
}

.elements__heart:hover {
  opacity: 0.5;
}
